server  {
        listen 80;
        listen [::]:80;
        server_name localhost;
        return 301 http:/$host$request_uri;
		daemon off;
}
server  {
	    listen 443 ssl;
	    listen [::]:443ssl;

    	ssl on;
	    ssl_certificate localhost.pem;
	    ssl_certificate_key localhost-key.pem;

	    server_name localhost www.localhost;
	
	    root /var/www/html;
	
	    index index.html index.nginx-debian.html index.php;

	    location / {
	    	autoindex on;
	    }

	    location ~\.php$ {
	    	include snippets/fastcgi-php.conf;
           fastcgi_pass unix:/run/php/php7.3-fpm.sock;
        }
}